
:root {
  --color-main: rgb(27, 26, 26);
  --color-accent:rgb(235, 235, 235);
}
body{
  padding: 0px;
  margin: 0px;
  background: var(--color-main);
  overflow-x: hidden;
  overflow-y: hidden;
}
.balebIcon{
  height: 8%;
  width: 4%;
}
#background{
  background: var(--color-main);
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.settings{
  font-size: large;
  height: 3.2vh;
  width: auto;
  position: absolute;
  margin: 1vh;
  top: 0;
  left:0;
  color:var(--color-main);
  border: 4px var(--color-main) dashed;
 
}
.settings:hover{
  border: 3px var(--color-main) solid;
  border-style: dashed;
}
* {
    font-family: 'PT Sans Caption','Scheherazade','Kumbh Sans','Courier Prime','Alata', sans-serif !important;
  }
  #mainName{
    display: block;
    width: 55%;
    margin-top: -2%; 
    margin-left: auto;
    margin-right: auto;
    /* height: 100px; */
  }
  #cool{
    padding-top: 20px;
    padding-left: 15px;
    height: 45px;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
  }
  .apps{
    border: 3px solid var(--color-accent);
    transition: box-shadow .2s;
    height: 300px;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    margin-right: auto;
    box-shadow: 4px 4px var(--color-accent);
    border-radius: 3px;
  }
  .card-header{
    color: var(--color-accent);
    font-style: italic;
  }
  .card-content{
    
    background: var(--color-main);
  }
  .apps:hover{
    box-shadow: 5px 5px 0px var(--color-accent);
    border-radius: 0;
  }
  .thumb{
    margin-top: 5px;
    border: 4px double var(--color-accent);
    height: 130px;
    width: 99%;
    object-fit: cover;
    z-index: 2;
    transition: height .5s;
  }
  #outter{
    position: absolute;
    top: 0;
    z-index: -10;
  }
  /* .outter{
    margin: 1%;
    transition: margin .5s;  
    border-radius: 1px;
    min-width: 250px;
    max-width: 350px;
    z-index: 1;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  } */
  /* .overlay {
    height: 45%;
    transition: height .5s;
    background-color: var(--color-main);
    font-weight: normal;  
  } */
  .thumb:hover .overlay{
    height: 0%;
  }
  .thumb:hover {
    cursor: pointer;
    border-style: solid;
  }
  .balebName{
    margin: 5px;
    border: 3px solid var(--color-accent);
    padding: 3px;
    font-size: 22px;
    transition: box-shadow .5s;
  }  
  #footer{
    position: relative;
    padding-top: 50px;
    margin-top: 0%;
    margin-bottom: 10px;
    height: auto;
    text-align: center;
  }
  @media only screen and (max-width: 700px) {
    #footer{
      position: absolute;
      bottom: 0;
      padding-top: 50px;
      margin-top: 0%;
      margin-bottom: 10px;
      height: auto;
    }
    #mainName{
      width: 100%;
      /* margin-left: -20%; */
      margin-top: 0%;
      background: rgb(0,0,0,.8);
    }
  }
  #textMain{
    padding: 20px;
  }
  .aboutUs{
    display: inline-block;
    height: auto;
    width: auto;
    padding: 10px;
    font-size: 16px;
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
    transition: box-shadow .5s;
    margin: 10px;
  }
  .aboutUs:hover{
    box-shadow: 3px 3px var(--color-accent);
  }
  .styleInfo{
    color: var(--color-accent);
    font-size: 16px;
    border-radius: 2px;
    padding: 10px;
    padding-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 20px;
  }
  .border{
    border: 10px solid var(--color-accent);
    border-radius: 1px;
    padding: 2%;
  }
  .tab1{
    display: inline-block;
    margin-left: 12%;
  }