body{
    margin: 0px;
    padding: 0px;
    font-family: 'Averia Sans Libre', cursive;
    text-shadow: 5px 5px rgb(255, 200, 243);
    color: rgb(255, 255, 255);
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-weight:bold ;
    font-size: 200px;
    /* background: rgb(255, 255, 255); */
    overflow: hidden;
    background: black;
}
.main-text{
    
    background: none;
    /* animation: wobe 5s; */
}
p {
    user-select: none;
    position: absolute;
    top: -100;
    animation: wobe 5s;
    animation-iteration-count:infinite;
}
@keyframes wobe {
    0% {transform: translate(0px, 1px) rotate(0deg);}
    20% {transform: translate(0px, -1px) rotate(-1deg);}
    40% {transform: translate(0px, 0px) rotate(0deg);}
    60% {transform: translate(0px, 1px) rotate(1deg);}
    80% {transform: translate(0px, 0px) rotate(1deg);}
    80% {transform: translate(0px, -1px) rotate(1deg);}
    100% {transform: translate(0px, 1px) rotate(0deg);}
}
