html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: rgb(235,107,40);
    background-color: rgb(216,204,178); /* Set your desired background color here */
}


body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

#icon {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 60%;
    background-size: cover;
    z-index: 1000;
    background-position: center;
    cursor: pointer; /* Indicate the element is clickable */

    transition: all 0.8s ease;

}
#right{

}
#icon.grown {
    top:0;
    left:0;
    width: 100vw; /* Grow to full width of the viewport */
    height: 100vh; /* Grow to full height of the viewport */
    border-radius: 2%;
    border: 1px solid rgb(216,204,178);
    background-size: contain;
    /* background-repeat: no-repeat; */
}
#first{
    background-image: url('./FellerArtwork/Tape_Mockup_w_Shell.jpeg');

}
#icon_outline{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 60%;
    background-size: cover;
    background-position: center;
    background-color: none;
    /* border: 2px solid rgb(216,204,178); */
    /* box-shadow: -1px -2px 3px rgb(216,204,178) */
}
#icon_outline_under{
    position: fixed;
    top: 8px;
    left: 8px;
    width: 100px;
    height: 100px;
    border-radius: 60%;
    background-size: cover;
    background-position: center;
    background-color: none;
    /* border: 2px solid rgb(216,204,178); */
    /* box-shadow: 0px 1px 3px rgb(216,204,178) */

}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* height: 100%; */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.hero-text {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
    flex-direction: column;
}
.display
{
    background-size:contain;
    /* background-repeat: no-repeat; */
}
.section h2 {
    margin: 0;
    font-size: 2em;
}

.section p {
    font-size: 1.2em;
    
}
.bottom{
    /* filter: blur(10px) */
}
.bottom::before {
    content: "";
    position: absolute;
    top: auto;
    left: auto;
    width: 100%;
    height: 50vh;
    background-image: url('./FellerArtwork/feller_doorhinge.jpeg');
    background-size: cover;
    background-position: center;
    filter: blur(6px); /* Adjust the value to increase or decrease the blur */
    z-index: -1;
}
.wrapper{
    display: flex;
}
/* Media Queries */
.middle{
    width: 50%;
    height: 100%;
    object-fit: cover;
}
#right{
    
    background-color: rgb(235,107,40);
    filter: grayscale(30%) hue-rotate(-15deg);
}
@media (max-width: 768px) {
    .hero {
        /* height: auto; */
        width: 100%;
        background-size:contain;
        background-repeat: no-repeat;
        background-position: top;
        /* background-size: 110%; */
        /* object-fit: cover; Ensures the image covers the container */
        /* overflow: hidden; */

    }
    
    #first{
        background-image: url("./FellerArtwork/Tape_mockup_p.png");
        height: 100vh;
        background-size: 100%;
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center;

    }
    .section {
        height: 50vh;
        padding: 10px;
    }

    .section h2 {
        font-size: 1.5em;
    }

    .section p {
        font-size: 1em;
    }
    #icon{
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 480px) {
    

    .section {
        height: 30vh;
        padding: 5px;
    }

    .section h2 {
        font-size: 1.2em;
    }

    .section p {
        font-size: 0.9em;
    }
}
