#background{
    //background-image: url("assets/Images/waterColorPlain.jpg");
    //background-color: rgb(228, 207, 207) ;
    height: 100%;
    width: 100%;
}
.innerLightButton{
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: none;
    position: static;
    
}
.innerLightButton:hover{
    border: 1px dashed #070707;
    color: rgb(255, 0, 0);
}