.inputs{
    background: black;
    color: white;
    border: 1px solid white;
    
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates 5 columns */
    grid-template-rows: repeat(1, 1fr); /* Creates 2 rows */
    gap: 10px; /* Space between grid items */
    padding: 10px; /* Padding around the grid */
    background: black;
}

.grid-item {
    background-color: none; /* Light grey background for the items */
    border: 1px solid #ccc; /* Border for the items */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Fixed height for each item */
    color: white;
    padding: 5px;
}