body{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
#background{
    background-color: black ;
  }
  button{
    border: 1px solid rgb(0, 0, 0);
    color: rgb(253, 253, 253);
    background-color: rgb(0, 0, 0);
    position: static;
    height: 50px;
    font-size: 16px;
    min-width: 40px;
    max-width: 55px;
    
}
.buttonActive{
    border: 3px solid #fdfdfd;
    color: rgb(255, 235, 235);
    
}
.button:checked{
  border: 3px solid #fdfdfd;
  color: rgb(255, 235, 235);
  
}
@media only screen and (min-width: 500px) {
  button:hover{
    border: 1px dashed #ff84f9;
    color: rgb(255, 235, 235);
}
}

#innerLightNav{
  display: block;
  text-align: center;
  padding: 2px;
}
.settings{
    
    font-size: large;
    height: 3.2vh;
    width: auto;
    position: absolute;
    margin: 1vh;
    top: 0;
    left:0;
    color:black;
    border: 4px black dashed;
   
  }
  .settings:hover{
    border: 3px black solid;
    border-style: dashed;
  }
