body{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
#button-exit{
  position:absolute; 
  left: 20px;
   border: 4px double white;
}
#button-exit:hover, #info:hover{
  border-radius: 10px;
  border-style: solid;
}
svg {
  touch-action: none;
}

#background{
    background-color: black ;
  }
  button{
    border: 1px solid rgb(0, 0, 0);
    color: rgb(253, 253, 253);
    background-color: rgb(0, 0, 0);
    position: static;
    height: 40px;
    font-size: 16px;
    min-width: 40px;
    max-width: 100px;
    transition: .2s;
    border: 3px solid black;

}


.button:checked{
  border: 3px solid #fdfdfd;
  color: rgb(255, 235, 235);
  color: rgb(255, 204, 204);
}
@media only screen and (min-width: 500px) {
  button:hover{
    /* border: 3px dashed #ff84f9; */
    border-radius: 5px;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    color: rgb(255, 235, 235);
}
}
.button-active{
  border: 3px solid #fdfdfd;
  color: rgb(255, 235, 235);
}
#info{
  position: absolute;
  right: 20px;
  border: 4px double white;
  font-weight: bold;
}
#innerLightNav{
  display: block;
  text-align: center;
  padding: 5px;
  border-top: 5px double white;
  border-bottom: 5px double white;
  transition: .3s;
 
}
.settings{
    
    font-size: large;
    height: 3.2vh;
    width: auto;
    position: absolute;
    margin: 1vh;
    top: 0;
    left:0;
    color:black;
    border: 4px black dashed;
   
  }
  .settings:hover{
    border: 3px black solid;
    border-style: dashed;
  }
  #info-box{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
    border: 5px double white;
    border-radius: 10px;
    max-width: 350px;
    padding: 10px;
    background: black;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 10px black;
    display: none;
    width: auto;
  }
  #close{
    position: absolute;
    top: -13px;
    left: -10px;
    background: black;
    border: 1px double white;
    border-radius: 10px;
    font-style: italic;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    cursor:pointer;
  }
  #info:hover  #info-box{
    display: block;
  }
  #controls {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* Adapt number of columns based on available space */
    gap: 10px;
    padding: 20px;
    max-width: 800px; /* Adjust this value based on the maximum width you want */
    margin: auto;
}

#controls label {
    grid-column: span 3; /* Ensures each label takes up one column */

}

#controls input,
#controls select,
#controls button {
    grid-column: span 1; /* Each input/select/button takes one column */
    
}
#controls button {
  grid-column: span 5; /* Each input/select/button takes one column */
  border-top: 6px double rgb(248, 248, 248);
  border-bottom: 6px double rgb(255, 17, 0);
  border-right: 6px double rgb(93, 245, 6);
  border-left: 6px double rgb(131, 149, 248);
  
  padding: 2px;
  height: 55px;

}
.clickMe{
  border-color:rgb(198, 138, 253);
box-shadow: 1px 1px 5px rgb(220, 190, 255);
  border-radius: 20px;
  position: absolute;
  
}

#clickMeLeft{
bottom: 30px;
  left:25px;
}
#clickMeRight{
bottom: 30px;
  right:25px;
    border-color:rgb(39, 133, 255);
    box-shadow: 1px 1px 5px rgb(68, 147, 250);

}
.clickMe:hover{
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
    border-color:rgb(138, 253, 147);

}
#clickMeRight:hover{
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
    border-color:rgb(138, 253, 147);

}
@media only screen and (max-width: 440px) {
  button {
    font-size: 12px; /* Adjust this size as needed */
    padding: 1px;
    margin: 1px;
  }
  #button-exit{
    left: 10px;
  }
  #info{right: 10px;}
}